.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .banner {
    width: 100%;
    max-width: 800px; /* adjust as needed */
  }
  
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .btn button {
    margin-right: 20px;
  }
  